@import "./variables.css";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription__container {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  color: var(--font);
  height: 100vh;
  background-color: var(--subscription);
  border-radius: 1em;
}
.subscription__container > div,
form > div {
  display: flex;
}

.close__button--container {
  justify-content: flex-end;
}
.sub__close--button {
  cursor: pointer;
  width: 2em;
}

.subscription__title,
.subscription__scope {
  gap: 0.5em;
  justify-content: center;
}

.subscription__scope p {
  font-size: 0.7em;
  background-color: rgb(39, 39, 39);
  padding: 0.5em;
  border-radius: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.input__container {
  flex-direction: column;
  gap: 1em;
}
.input__container > div {
  display: flex;
}

.form__sub--email,
.form__sub--frequency {
  flex-direction: column;
  gap: 0.3em;
}

label {
  font-size: 0.8em;
}

.form__sub--email input,
.form__sub--frequency select {
  border-radius: 0.5em;
  padding: 1em;
  border: 0.2em solid var(--hoverSalary);
  background-color: var(--subscription);
  box-sizing: content-box;
}

.form__sub--email input::placeholder,.form__sub--email input,
.form__sub--frequency select {
  color: var(--font);
}

.form__sub--email input:hover,
.form__sub--frequency select:hover {
  background-color: var(--background);
}
.form__sub--frequency option:hover {
  background-color: var(--hoverSalary);
}

.form__sub--email input:focus,
.form__sub--frequency select:focus {
  outline: none;
  border: 0.2em solid var(--border);
}

.form__sub--privacy input:checked {
  accent-color: var(--active);
}
.form__sub--privacy a {
  color: var(--active);
}

.form__sub--privacy label {
  display: flex;
  align-items: center;
}

.form__sub--button {
  justify-content: center;
}

.form__sub--button input {
  cursor: pointer;
  padding: 1em 5em;
  border: none;
  border-radius: 2em;
  background-color: var(--active);
}

@media screen and (min-width: 75em) {
  .subscription__container {
    width: 35em;
    height: 18em;
  }
  .input__container {
    flex-direction: row;
    gap: 1em;
  }
  .form__sub--email,
  .form__sub--frequency {
    flex-direction: column;
    gap: 0.3em;
  }
  .form__sub--email {
    flex: 7;
  }
  .form__sub--frequency {
    flex: 3;
  }
}
