*{
  padding: 0;
  margin: 0;
}
body {
  color: white;
  background-color: rgb(44, 44, 44);
}

/* main container  */
.offers__main--container {
  position: relative;
  height: 100vh;
  background-color: rgb(44, 44, 44);
}

/* nav container  */
.offers__navigation--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offers__navigation--right {
  display: flex;
  gap: 1em;
}

.offers__navigation--left {
  display: flex;
}

/* navigation left styles */
.left__button--hover:hover {
  background-color: rgb(65, 65, 65);
}

.offers__navigation--left p {
  padding: 0em 0.5em;
  cursor: pointer;
}

/*  buttons active class */
.offers__left--button--active {
  background-color: rgb(36, 36, 36);
}

/* nav icons sizing */
img {
  width: 15px;
}
p {
  font-size: 15px;
  display: flex;
}
span {
  color: red;
}

/*  sort menu styling */

.offers__navigation--right > div {
  cursor: pointer;
  gap: 0.1em;
  display: flex;
}

.offers__navigation--sub--container {
  opacity: 0;
  visibility:hidden;
  padding: 0em 0.5em;
  transition: all 0.5s ease;
}
.offers__navigation--sub--container--active{
  visibility: visible;
  opacity: 1;
}
.offers__navigation--sub--container:hover {
  background-color: rgb(65, 65, 65);
}

.offers__sort--menu {
  position: absolute;
  right: 1%;
  background-color: rgba(255, 255, 255, 0.08);
  max-width: fit-content;
  transform: translateY(-1em);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.offers__sort--menu--link {
  list-style-type: none;
  padding: 1em;
}
.offers__sort--menu--link:hover {
  background-color: gray;
}

.offers__sort--menu--active {
  transform: translateY(0em);
  opacity: 1;
  visibility: visible;
}

.offers__navigation--sort {
  cursor: pointer;
}

.offers__sort--arrow {
  transition: all 0.2s ease;
}

.offers__sort--arrow--active {
  transform: rotate(180deg);
}

/* switch input styles */

.offers__remote--input--container{
display: flex;
align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

/* .switch::before{
  margin-left: auto;
  cursor: pointer;
  content: 'Remote';
  font-size: 1em;
  position: absolute;
  right: 2em;
  top: 0.1em;
  padding-right: 15px;
} */

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(131, 131, 131);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f36c6c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* offers container */


@media only screen and (max-width: 50em) {
  .offers__navigation--sort-container {
    display: none !important
  }
  .offers__navigation--container p{
    font-size: 0.8em;
  }
}


