.map__container
  #map
    .map__close--container
      img.map__close--button(src='../tech-icons/cancel.svg', alt='')
  .map__open--container
    button.map__open--button
      img(src='../tech-icons/map.svg', alt='')
      | Map
