* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

body * {
  display: flex;
}

/* job offer content styles */
#content-container {
  flex-direction: column;
  width: 50%;
}
#content-container * {
  border-radius: 10px;
}
#offer-container {
  padding: 10px;
  align-items: center;
  background-color: rgb(70, 70, 70);
  margin: 5px;
}
/* image style */
.offer-img-box {
  flex-grow: 1;
}

.offer-img {
  height: auto;
  max-width: 100px;
}
/* offer box style */
.offer-box {
  flex-grow: 19;
  flex-direction: column;
}

/* top box styles */
.offer-box-top {
  justify-content: space-between;
  align-items: center;
}

/* title styling */
.offer-title-box {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* salary styling */
.offer-salary  p {
  margin-left: 10px;
}

.offer-amount {
  color: rgb(0, 212, 0);
}

/* new button style */
.offer-new {
  background-color: rgb(201, 201, 201);
  padding: 2px 5px;
  font-size: 12px;
}

/* bottom box style */
.offer-box-bottom {
  margin-top: 5px;
  justify-content: space-between;
}
.offer-box-bottom p {
  font-size: 10px;
  opacity: 0.9;
  padding: 5px 10px;
}

/* styling location box */
.offer-location-box {
  align-items: center;
}

.offer-remote {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 169, 169);
}

/* styling tech div */
.offer-tech-box {
}
.offer-tech {
  background-color: rgb(41, 41, 41);
  margin-left: 5px;
  align-items: center;
}

/* styling map */

#gmap_canvas {
  height: 100vh;
  width: 50%;
  border-radius: 0px;
}

.map-button {
  display: none;
}

/* mobile devices 480px max */
@media only screen and (max-width: 480px) {
  #gmap_canvas {
    display: none;
  }
  #content-container {
    width: auto;
  }
  .offer-tech-box {
    display: none;
  }
  .offer-remote {
    display: none;
  }
  .offer-company {
    display: none;
  }

  .offer-title {
    font-size: 15px;
  }

  .offer-box-bottom {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #gmap_canvas {
    display: none;
  }
  #content-container {
    width: 100%;
  }
  .offer-tech-box {
    display: none;
  }
  .offer-company {
    display: none;
  }
  .offer-title {
    font-size: 20px;
  }
  .offer-box-bottom {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #gmap_canvas {
    flex-grow: 1;
  }
  #content-container {
    flex-grow: 1;
  }
  .offer-title {
    font-size: 20px;
  }
  .offer-box-bottom p{
    padding: 2px 5px;
  }
}

/* map button */

@media only screen and (max-width: 1024px) {
  .map-button {
    display: block;
    padding: 10px 30px;
    background-color: gray;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
  }
}
