@import './variables.css';

.popup__salary--amount {
  color: var(--wage);
}
.popup__image{
    width: 2.5em;
}
.popup__container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.popup__container p {
  margin: 0.15em;
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 

#map{
  height: 100vh;
  position: relative;
}

.map__close--container{
  display: none;
}


@media screen and (max-width: 75em){
  .map__open--button{
    background-color: var(--mapOpen);
    cursor: pointer;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: none;
    padding: 0.25em;
    border-radius: 1.5em;
    width: 10em;
  }

  .map__open--container{
    position: absolute;
    right: 50%;
    bottom: 3%;
    transform: translate(50%, 3%);
    z-index: 1000;
  }
  .map__close--container{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 1000;
    display: none;
  }
  .map__close--button{
    width: 3em;
  }

  #map{
    display: none;
  }
}
